# Allow Twin Joystick write acess
ENV{.COUNT_FILE}:="/run/uniq-twin-usb-count"

SUBSYSTEM=="usb", ATTRS{idVendor}=="0810", MODE="0666" KERNEL=="uinput", SUBSYSTEM=="misc", MODE="0660", GROUP="input"

# port 0 bind
ACTION=="remove", GOTO="remove"
# create a unique symlink...
SUBSYSTEMS=="usb", ENV{ID_BUS}=="?*", KERNEL=="event*", ATTRS{idVendor}=="0810", PROGRAM="/usr/bin/uniq-num $env{.COUNT_FILE} %n"
SUBSYSTEMS=="usb", ENV{ID_BUS}=="?*", KERNEL=="event*", ATTRS{idVendor}=="0810", SYMLINK+="input/by-id/$env{ID_BUS}-$env{ID_SERIAL}-event-port-%c"

# Load xboxdrv driver
ACTION=="add", SUBSYSTEMS=="usb", KERNEL=="event*", ATTRS{idVendor}=="0810", RUN+="/usr/bin/rc-service xboxdrvd restart"

LABEL="remove"
# Stop xboxdrv driver (this is fucked on boot... why this is triggered?)
ACTION=="remove", SUBSYSTEMS=="usb", KERNEL=="event*", ATTRS{idVendor}=="0810", SUBSYSTEM=="input", \
      RUN+="/usr/bin/rc-service xboxdrvd stop", \
      RUN+="/usr/bin/rm -rf $env{.COUNT_FILE}*"



